.header_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 40px 55px;
}

.header_logo img {
  width: 48px;
  height: 48px;
}

.menu_btn {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .header_wrapper {
    padding: 20px;
  }
  .menu_btn {
    display: block;
  }
  .menu_wrapper {
    display: none;
  }
}
