@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;300;400;600&family=Barlow:wght@300&family=Bellefair&display=swap");

.article {
  display: flex;
  gap: 6rem;
}
.image {
  height: 25rem;
  width: auto;
}
.article_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 25rem;
  gap: 1rem;
}
.article_links {
  display: flex;
  gap: 3rem;
}
.link {
  padding-bottom: 0.8rem;
  text-transform: uppercase;
  color: #d0d6f9;
  letter-spacing: 2px;
  font-family: "Barlow Condensed", sans-serif;
  cursor: pointer;
}
.link:hover,
.link:active {
  border-bottom: 2px solid white;
  color: white;
}

.article_heading {
  font-size: 5rem;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-family: "Bellefair", sans-serif;
}
.article_blockParagraph {
  line-height: 24px;
  margin-bottom: 1.2rem;
  color: #d0d6f9;
  font-family: "Barlow", sans-serif;
  text-align: center;
}
.article_units {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.151);
  width: 95%;
  padding-top: 0.6rem;
}
.distance,
.time {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.distance_name {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 0.8rem;
  color: #d0d6f9;
  font-family: "Barlow", sans-serif;
}
.distance_number {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 200;
  font-family: "Bellefair", sans-serif;
  padding-top: 5px;
}
/* *******MEDIA QUERIES *********** */

/* MOBILE */
@media (min-width: 320px) and (max-width: 425px) {
  .article {
    flex-direction: column;
    align-items: center;
    gap: 0.4em;
  }
  .image {
    height: 7em;
    width: 7em;
  }
  .article_links {
    gap: 1.4em;
  }
  .article_heading {
    font-size: 3em;
  }
  .article_content {
    gap: 0;
  }
  .article_blockParagraph {
    font-size: 1rem;
    margin-bottom: 0.4em;
  }
  .article_units {
    flex-direction: column;
    gap: 0.8em;
  }
  .distance_number {
    font-size: 1.2em;
  }
}

/* TABLET */
@media (min-width: 425px) and (max-width: 768px) {
  .article {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8em;
  }
  .image {
    height: 14rem;
    width: auto;
  }
  .article_content {
    gap: 0;
    align-items: center;
  }
  .link {
    padding-bottom: 0.4em;
  }
  .article_links {
    gap: 2em;
  }
  .article_heading {
    font-size: 3em;
  }
  .article_blockParagraph {
    text-align: center;
    font-size: 0.9em;
    line-height: 22px;
    margin-bottom: 0.9em;
  }
  .article_units {
    justify-content: space-evenly;
  }
  .distance_name {
    font-size: 0.65em;
  }
  .distance_number {
    font-size: 1.2em;
  }
  .distance,
  .time {
    gap: 0.2em;
  }
}

/* *****    LAPTOP-SMALL */
@media (min-width: 769px) and (max-width: 1024px) {
  .image {
    height: 16em;
    width: auto;
  }
  .article {
    justify-content: space-evenly;
  }
}
