.destination {
  height: 100vh;
  width: 100vw;
  background: url("../../Assets/destination/background-destination-desktop.jpg");
}
.destinationContent {
  padding: 12rem 16rem 0 10rem;
}
.destination_heading {
  position: absolute;
  top: 17%;
  left: 15%;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Barlow Condensed", sans-serif;
}
.destination_heading span {
  color: #d0d6f9;
  opacity: 0.5;
  font-weight: 500;
}

/* *******MEDIA QUERIES *********** */
@media (max-width: 768px) {
  .destination_heading {
    font-size: 1rem;
    top: 14%;
  }
  .destinationContent {
    padding: 6rem;
  }
}
