@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;300;400;600&family=Barlow:wght@300&family=Bellefair&display=swap");

.tech {
  height: 100vh;
  width: 100vw;
  background: url("../../Assets/tech/background-technology-desktop.jpg");
}
.tech_heading {
  position: absolute;
  top: 20%;
  left: 12%;
  font-weight: 100;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 3px;
  font-size: 28px;
}
.tech_heading span {
  color: #d0d6f9;
  opacity: 0.5;
  font-weight: 400;
}
.tech_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12rem 0 0 165px;
}
.tech_navigation {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}
.tech_nav {
  height: 3.2rem;
  width: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  border-radius: 50%;
  cursor: pointer;
  font-family: "Bellefair", sans-serif;
  font-weight: 500;
  background-color: #0b0d17;
  color: white;
  border: 1px solid white;
}
.active {
  background-color: white;
  color: #0b0d17;
}

.activeclass {
  color: #0b0d17;
  background-color: white;
}

/* ****MEDIA QUERIES ****** */

/* MOBILE */
@media (min-width: 320px) and (max-width: 425px) {
  .tech {
    background: url("../../Assets/tech/background-technology-mobile.jpg");
    background-position: center;
    background-size: cover;
  }
  .tech_heading {
    font-size: 1.2rem;
    top: 10%;
    left: 25%;
  }
  .tech_content {
    padding: 8em 0 0 0;
    flex-direction: column;
  }
  .tech_navigation {
    flex-direction: row;
    position: absolute;
    top: 45%;
    gap: 1em;
  }
  .tech_nav {
    height: 1.5em;
    width: 1.5em;
    font-size: 1em;
  }
}

/*     TABLET   */
@media (min-width: 426px) and (max-width: 768px) {
  .tech {
    background: url("../../Assets/tech/background-technology-tablet.jpg");
    background-size: cover;
    background-position: center top;
  }
  .tech_heading {
    font-size: 0.8rem;
    top: 12%;
  }
  .tech_content {
    flex-direction: column;
    padding: 5.2em 0 0 0;
  }
  .tech_navigation {
    flex-direction: row;
    position: absolute;
    top: 70%;
  }
  .tech_nav {
    height: 1.8rem;
    width: 1.8rem;
    font-size: 1.2rem;
  }
}

/*    LAPTOP-SMALL */
@media (min-width: 769px) and (max-width: 1024px) {
  .tech_content {
    padding: 9em 0 0 3em;
    gap: 3em;
  }
}
