@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;300;400;600&family=Barlow:wght@300&family=Bellefair&display=swap");

.article {
  display: flex;
  align-items: center;
  gap: 6rem;
}
.article_content {
  max-width: 26rem;
  display: flex;
  flex-direction: column;
}
.image {
  height: 28rem;
}
.article_h5 {
  font-weight: 100;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #d0d6f9;
  font-family: "Barlow Condensed", sans-serif;
}
.article_h2 {
  font-weight: 400;
  font-size: 2.5rem;
  letter-spacing: 4px;
  padding-top: 5px;
  padding-bottom: 1.2rem;
  font-family: "Bellefair", sans-serif;
}
.article_paragraph {
  line-height: 27px;
  color: #d0d6f9;
  font-family: "Barlow", sans-serif;
}

/* ****MEDIA QUERIES ****** */
@media (max-width: 768px) {
  .article {
    flex-direction: column-reverse;
    width: 100%;
    gap: 1rem;
  }
  .image {
    width: 100%;
    height: auto;
  }
  .article_content {
    max-width: 50%;
    align-items: center;
  }
  .article_h5 {
    font-size: 1rem;
  }
  .article_h2 {
    font-size: 1.4rem;
    padding-bottom: 0.5rem;
  }
  .article_paragraph {
    text-align: center;
    font-size: 0.9rem;
    line-height: 20px;
  }
}
