@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;300;400;600&family=Barlow:wght@300&family=Bellefair&display=swap");

.home {
  height: 100vh;
  width: 100vw;
  padding: 10rem 15rem;
  background: url("../../Assets/homepage/background-home-desktop.jpg"),
    linear-gradient(#0b0d17a9, #090a113b);
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.main_content {
  max-width: 26rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.home_h4 {
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 5px;
  font-family: "Barlow Condensed", sans-serif;
  color: #d0d6f9;
  padding-left: 4px;
}
.home_h1 {
  font-size: 7rem;
  letter-spacing: 15px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: "Bellefair", sans-serif;
}
.home_content {
  font-weight: 100;
  line-height: 26px;
  font-family: "Barlow", sans-serif;
  color: #d0d6f9;
}
.explore {
  height: 11rem;
  width: 11rem;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.explore:hover {
  outline: 3rem solid #97979771;
  outline-offset: -2px;
  transition: all 0.5s ease-out;
}
.explore_h4 {
  color: #0b0d17;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-family: "Bellefair", sans-serif;
}

/* *******   MEDIA QUERIES   ********** */
/* TABLET */
@media (max-width: 768px) {
  .home {
    flex-direction: column;
    align-items: center;
    background: url("../../Assets//homepage//background-home-tablet.jpg"),
      linear-gradient(#0b0d17a9, #090a113b);
    background-position: center;
    background-size: cover;
    padding: 4em 0 0 0;
    justify-content: space-evenly;
  }
  .home_h1 {
    font-size: 4em;
  }
  .main_content {
    align-items: center;
  }
  .home_content {
    text-align: center;
  }
  .explore {
    height: 8em;
    width: 8em;
  }
  .explore_h4 {
    font-size: 1em;
  }
}

/* LAPTOP-SMALL */

@media (max-width: 1024px) {
  .home {
    padding: 6em 4em;
    gap: 2em;
    /* width: 100%; */
  }
}

/* MOBILE */
@media (min-width: 320px) and (max-width: 425px) {
  .home {
    padding: 4em 1em 0 1em;
  }
  .home_h4 {
    font-size: 0.8em;
  }
  .home_content {
    font-size: 0.9em;
    letter-spacing: 1px;
  }
  .explore {
    height: 6em;
    width: 6em;
  }
}
