@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;300;400;600&family=Barlow:wght@300&family=Bellefair&display=swap");

.home {
  height: 100vh;
  padding: 10rem 15rem;
  background: url("../../Assets/homepage/background-home-desktop.jpg"),
    linear-gradient(#0b0d17a9, #090a113b);
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.main_content {
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.home_h4 {
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 5px;
  font-family: "Barlow Condensed", sans-serif;
  color: #d0d6f9;
  padding-left: 4px;
}
.home_h1 {
  font-size: 7rem;
  letter-spacing: 15px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: "Bellefair", sans-serif;
}
.home_content {
  font-weight: 100;
  line-height: 26px;
  font-family: "Barlow", sans-serif;
  color: #d0d6f9;
}
.explore {
  height: 11rem;
  width: 11rem;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.explore:hover {
  outline: 3rem solid #97979771;
  outline-offset: -2px;
  transition: all 0.5s ease-out;
}
.explore_h4 {
  color: #0b0d17;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-family: "Bellefair", sans-serif;
}

/* *******   MEDIA QUERIES   ********** */
@media (max-width: 768px) {
  .home {
    flex-direction: column;
    align-items: center;
    background: url("../../Assets//homepage//background-home-tablet.jpg"),
      linear-gradient(#0b0d17a9, #090a113b);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 8rem;
    gap: 3rem;
    height: 100%;
  }
  .home_h1 {
    font-size: 4rem;
  }
  .main_content {
    align-items: center;
  }
  .home_content {
    text-align: center;
  }
  .explore {
    height: 8rem;
    width: 8rem;
  }
  .explore_h4 {
    font-size: 1rem;
  }
}
