@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;300;400;600&family=Barlow:wght@300&family=Bellefair&display=swap");

.article {
  display: flex;
  gap: 8rem;
  align-items: center;
}
.crew_heading {
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.4rem;
  font-family: "Barlow Condensed", sans-serif;
}
.crew_heading span {
  color: #d0d6f9;
  opacity: 0.5;
  font-weight: 500;
}
.article_content {
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.crew_navigation {
  display: flex;
  max-width: 8rem;
  gap: 1rem;
}
.nav {
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image {
  height: 32rem;
  width: auto;
}
.article_h4 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.4rem;
  letter-spacing: 2px;
  color: #d0d6f9;
  font-family: "Bellefair", sans-serif;
}
.article_h2 {
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: 100;
  letter-spacing: 3px;
  font-family: "Bellefair", sans-serif;
}
.article_paragraph {
  color: #d0d6f9;
  line-height: 1.8rem;
  font-family: "Barlow", sans-serif;
}

/* *****  MEDIA QUERIES  *** */

/* MOBILE */
@media (min-width: 320px) and (max-width: 425px) {
  .article {
    flex-direction: column-reverse;
    align-items: center;
    gap: 0;
  }
  .crew_heading {
    position: absolute;
    left: 25%;
    top: 10%;
    font-size: 1em;
  }
  .image {
    height: 13em;
    width: auto;
  }
  .article_content {
    border-top: 1px solid #d0d6f965;
    align-items: center;
    gap: 0.5em;
  }
  .article_h4 {
    font-size: 1em;
    padding-top: 3em;
  }
  .article_h2 {
    font-size: 1.4em;
  }
  .article_paragraph {
    text-align: center;
    font-size: 0.9em;
    line-height: 20px;
  }
  .crew_navigation {
    position: absolute;
    top: 60%;
  }
  .nav {
    height: 0.5em;
    width: 0.5em;
  }
}

/* TABLET */
@media (min-width: 425px) and (max-width: 768px) {
  .article {
    flex-direction: column;
    gap: 0.5em;
  }
  .crew_heading {
    position: absolute;
    left: 5%;
    top: 10%;
    font-size: 1em;
  }
  .article_content {
    align-items: center;
    max-width: 35em;
  }
  .article_h4 {
    font-size: 0.9em;
  }
  .article_h2 {
    font-size: 1.4em;
  }
  .article_paragraph {
    text-align: center;
    font-size: 1em;
    line-height: 26px;
    letter-spacing: 1px;
  }
  .article_content {
    gap: 0.4em;
  }
  .image {
    height: 21em;
    width: auto;
  }
}

/* LAPTOP-SMALL */
@media (min-width: 769px) and (max-width: 1024px) {
  .crew_heading {
    top: 18%;
    position: absolute;
    font-size: 1.2em;
  }
  .article_h2 {
    font-size: 2rem;
  }
  .article_h4 {
    font-size: 1.4rem;
  }
  .image {
    height: 22.4em;
    width: auto;
  }
  .article {
    padding-top: 1em;
  }
  .article_content {
    align-items: flex-start;
    min-width: 20em;
  }
}
