@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;300;400;600&family=Barlow:wght@300&family=Bellefair&display=swap");

.crew {
  height: 100vh;
  background: url("../../Assets/crewpage/background-crew-desktop.jpg");
  background-position: center center;
  background-size: cover;
}
.crewContent {
  padding: 7.8rem 10rem 0 10rem;
}

/******* MEDIA QUERIES ******/
@media (max-width: 784px) {
  .crewContent {
    padding: 5rem 2rem 0 2rem;
  }
}
