@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;300;400;600&family=Barlow:wght@300&family=Bellefair&display=swap");

.article {
  display: flex;
  gap: 8rem;
  align-items: center;
}
.crew_heading {
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.4rem;
  font-family: "Barlow Condensed", sans-serif;
}
.crew_heading span {
  color: #d0d6f9;
  opacity: 0.5;
  font-weight: 500;
}
.article_content {
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.crew_navigation {
  display: flex;
  max-width: 8rem;
  gap: 1rem;
}
.nav {
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image {
  height: 32rem;
  width: auto;
}
.article_h4 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.4rem;
  letter-spacing: 2px;
  color: #d0d6f9;
  font-family: "Bellefair", sans-serif;
}
.article_h2 {
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: 100;
  letter-spacing: 3px;
  font-family: "Bellefair", sans-serif;
}
.article_paragraph {
  color: #d0d6f9;
  line-height: 1.8rem;
  font-family: "Barlow", sans-serif;
}

/* *****  MEDIA QUERIES  *** */

@media (max-width: 784px) {
  .article {
    flex-direction: column;
    gap: 0.5rem;
  }
  .crew_heading {
    position: absolute;
    left: 5%;
    top: 10%;
    font-size: 1rem;
  }
  .article_content {
    align-items: center;
    max-width: 35rem;
  }
  .article_h4 {
    font-size: 0.9rem;
  }
  .article_h2 {
    font-size: 1.4rem;
  }
  .article_paragraph {
    text-align: center;
    font-size: 1rem;
    line-height: 26px;
    letter-spacing: 1px;
  }
  .article_content {
    gap: 0.4rem;
  }
  .image {
    height: 16.5rem;
  }
}
